* {
    margin: 0;
    padding: 0;
}

h2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: solid 2px;
    display: grid;
    align-content: center;
    justify-items: center;
}

.kotak2 {
    display: flex;
}

.kotak3 {
    display: flex;
}
